<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/images/home_inspection.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Free Car Inspection And Computer Diagnostics
              </h2>
            </div>
            <p>
                A comprehensive car inspection and health check by our qualified technicians at Adnan Auto Repair Garage        
            <br>
            <a href="" routerLink="/contact-us">
              Book Free Inspection
            </a>
          </div>
        </div>
      </div>
    </div>
</section>