<br />
<section class="slider_section">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="detail-box">
                <h1>
                  Car Repair <br />
                  And Maintenance
                </h1>
                <p>We are a team of talented mechanics and electricians</p>

                <div class="btn-box">
                  <a href="" routerLink="/about-us" class="btn-1">
                    Read More
                  </a>
                  <a href="" routerLink="/contact-us" class="btn-2">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="img-box">
                <img src="assets/images/slider-img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="detail-box">
                <h1>
                  Car Repair <br />
                  And Maintenance
                </h1>
                <p>We care the most about customer satisfaction.</p>

                <div class="btn-box">
                  <a href="" routerLink="/about-us" class="btn-1">
                    Read More
                  </a>
                  <a href="" routerLink="/contact-us" class="btn-2">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="img-box">
                <img src="assets/images/slider-img1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="detail-box">
                <h1>
                  Car Repair <br />
                  And Maintenance
                </h1>
                <p>
                  Our prices are quite reasonable as compared to the market.
                </p>

                <div class="btn-box">
                  <a href="" routerLink="/about-us" class="btn-1">
                    Read More
                  </a>
                  <a href="" routerLink="/contact-us" class="btn-2">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7">
              <div class="img-box">
                <img src="assets/images/about-img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel1" data-slide-to="1"></li>
      <li data-target="#customCarousel1" data-slide-to="2"></li>
    </ol>
  </div>
</section>
<div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-6">
      <div class="coupon p-3 bg-white">
        <div class="row no-gutters">
          <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center">
              <span class="d-block" style="padding-top:8% ;">Premium Oil Change Service</span>
              <a class="text-black-50" href="" routerLink="/offers">More details</a>
            </div>
          </div>
          <div class="col-md-8">
            <div>
              <div class="d-flex flex-row justify-content-end off">
                <h1>35%</h1>
                <span>OFF</span>
              </div>
              <div class="d-flex flex-row justify-content-between off px-3 p-2">
                <span> </span>
                <a type="button"  class="border border-success px-3 rounded code" href="https://wa.me/+971509483571"
                  >Book Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br>
<section class="why_section">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Why Choose Us</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w1.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Best Workers</h4>
            <p>We make sure our workers are delivering the best.</p>
            <a href="" routerLink="/about-us">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w2.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Best Materials</h4>
            <p>We use the best material that's available out there.</p>
            <a href="" routerLink="/about-us">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w3.png" alt="" />
          </div>
          <div class="detail-box">
            <h4>Best Service</h4>
            <p>Customer satisfaction is our number 1 priority.</p>
            <a href="" routerLink="/about-us">
              Read More
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- djsak -->

<section class="client_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Testimonial</h2>
      <p>
        Even slightly believable. If you are going to use a passage of Lorem
        Ipsum, you need to
      </p>
    </div>
  </div>
  <div class="container px-0">
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="assets/images/client3.jpeg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>Efe</h5>
                        <h6>Customer</h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                        Very affordable and reliable services provided by Adnan Auto Repair Garage. Oil change was super quick, my car is running very smooth after oil change. They also refilled a.c gas which was a U.S made product, and now I literally shiver in my car. Thirdly, after visiting the garage all my car issues are gone like water and oil leakage, suspension and steering noise. Highly recommended!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="assets/images/client2.jpeg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>Umar</h5>
                        <h6>Customer</h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                        Staff at Adnan Auto Repair Garage is very skillful, courteous and cooperative,  I had many issues with my car which were resolved completely with some able hands. I will recommend my friends and family for all future maintenance work. Bravo!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="assets/images/client1.jpeg" alt="" />
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>Abdullah</h5>
                        <h6>Customer</h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                        Excellent car repair and maintenance service at an very reasonable price.  I got Oil and Filter and AC repair done here along with a few other small repair jobs and was quite happy with the job done.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn-box">
        <a
          class="carousel-control-prev"
          href="#customCarousel2"
          role="button"
          data-slide="prev"
        >
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#customCarousel2"
          role="button"
          data-slide="next"
        >
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
